@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

/* font-family: 'Roboto', ;
font-family: 'Montserrat', ; */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background: #bdc3c7; /* fallback for old browsers */
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li.nav-item {
  padding: 10px;
}

a.nav-link {
  background-color: none;
  padding: 10px;
  /* border-radius: 10px; */
}


a.nav-link:hover {
  color: none;
  background-color: none;
  border-bottom: 2px solid rgba(28,110,164);
}

/* Navbar customize */
.navbar {
  background-color: #000000ad;
}

.fixed-top {
  position: sticky;
}

.top-nav-collapse {
  background-color: #00000080;
}
 
/* Carousel Style */
.w-100 {
  max-height: 510px;
}



/* Barra de Revonovando nuestro sitio  */
.alert-info {
  position: fixed;
  font-family: "Roboto";
  font-size: 12px;
  padding: 10px;
  width: 100%;
  bottom: 0;
  margin: 0;
  margin-top: 10%;
}


/* Estilos Cartas */

.cards {
  padding: 50px;
}

.card-title {
    font-size: 20px;
}

.card-img-bottom, .card-img-top {
    max-height: 350px;
}


/* Estilo Form */

.from1 {
  margin: auto;
  margin-bottom: 30px;
}

.form-control {
  color: white;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #00000080;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    max-height: 64px;
  }
}